*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 100%;
}

/* #logo{

} */

#headerLinksContainer{
    display: flex;

}
